/* app global css */
body {
  background-color: lightgray;
  /* background-image: url("../../public/img/cardbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom; */
  /* color: #240186; */
}

@media print {
  .noprint {
    display: none;
  }
}
